PROJECT_NAME=CollectorGO API

API_V1_PREFIX=/api/v1

SECRET_KEY=CHANGE_THIS_TO_A_RANDOM_SECRET

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_SERVER=localhost

POSTGRES_PORT=5432

POSTGRES_USER=postgres

POSTGRES_PASSWORD=postgres

POSTGRES_DB=collectorgo